<!DOCTYPE html>
<html>
<head>
<title>Assign</title>
</head>
<body>
  
  <h1><b>ADD JOB SPECIFICATION </b></h1>
  <form >
      <label for="">USER NAME:</label>
      &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" value="" id="username" name="username"><br><br>&nbsp;&nbsp;
     <label for="">EMP ID:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" value="" id="empid" name="empid"><br><br>
    <label for="sal-range">SAL-RANGE:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select id="sal-range" name="sal-range">
  <option value="0">-Select-</option>
  <option value="0">15,000 </option>
  <option value="0">20,000</option>
  <option value="0">30,000</option>
  <option value="0">40,000</option>
  <option value="0">50,000</option>
  <option value="0">60,000</option>
  <option value="0">70,000</option>
  <option value="0">80,000</option>
  <option value="0">80,000</option>
  <option value="0">1,00000</option>
</select><br><br>
<label for="annul-in">ANNUL-IN:</label>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select id="annul-in" name="annul-in">
  <option value="0">-Select-</option>
  <option value="0">1,00000 </option>
  <option value="0">2,00000</option>
  <option value="0">1,00000</option>
  <option value="0">5,00000</option>
  <option value="0">6,00000</option>
  <option value="0">7,00000</option>
  <option value="0">3,00000</option>
  <option value="0">8,00000</option>
  <option value="0">9,00000</option>
  <option value="0">3,00000</option>
</select><br><br>
<label for="tax">TAX:</label>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select id="tax" name="tax">
    <option value="0">-Select-</option>
    <option value="0">1%</option>
    <option value="0">2%</option>
    <option value="0">3%</option>
    <option value="0">4%</option>
    <option value="0">5%</option>
    <option value="0">6%</option>
    <option value="0">7%</option>
    <option value="0">8%</option>
    <option value="0">9%</option>
    <option value="0">10%</option>
</select><br><br>
<label for="loans">LOANS:</label>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select id="loans" name="loans">
    <option value="0">-Select-</option>
    <option value="0">personal loan</option>
    <option value="0">home loan </option>
    <option value="0">vehical loan</option>
    </select><br><br>
    <label for="pre-in">PRE-ANNUL:</label>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select id="pre-annul" name="pre-annul">
  <option value="0">-Select-</option>
  <option value="0">1,00000 </option>
  <option value="0">2,00000</option>
  <option value="0">1,00000</option>
  <option value="0">5,00000</option>
  <option value="0">6,00000</option>
  <option value="0">7,00000</option>
  <option value="0">3,00000</option>
  <option value="0">8,00000</option>
  <option value="0">9,00000</option>
  <option value="0">3,00000</option>
</select><br><br>
<label for="INS">INSURANCE:</label>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select id="ins" name="ins">
    <option value="0">-Select-</option>
    <option value="0">health insurance</option>
    <option value="0">life insurance </option>
    <option value="0">vehical insurance</option>
    </select><br>

<button type="SUMBIT" (click)="onsubmit()" class="btn btn-primary">SUBMIT</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-primary">CANCEL</button>
</form>
</body>
</html>
