<!DOCTYPE html>
<html>
    
<head>
  </head>
  <body><button  routerLink="/hrpage"   class="btn btn-square btn-primary" href="">
			
    BACK
    </button>
 
  <h1><b>POLICY LIST</b></h1>
  
   <button routerLink="/addpolicy"   class="btn btn-info btn-lg" href="#">
        
              <span class="glyphicon glyphicon-plus"></span> AddPolicy
        </button><br><br><br><br>
  <table>
    <tr>
      <th>POLICY NAME</th>
      <th>POLICY VERSION</th>
      <th>APPROVE</th>
    <th>DISAPPROVE</th>
      </tr>
    <tr>
      <td>Employee Status</td>
      <td>1.0</td>
      <td><button type="button" class="btn btn-square btn-success">Enable</button></td>
      <td><button type="button" class="btn btn-square btn-danger">Disable</button></td>
     
    </tr>
    <tr>
      <td>Employee Status</td>
      <td>1.0</td>
      <td><button type="button" class="btn btn-square btn-success">Enable</button></td>
      <td><button type="button" class="btn btn-square btn-danger">Disable</button></td>
     
    </tr>
    <tr>
      <td>Employee Status</td>
      <td>1.0</td>
      <td><button type="button" class="btn btn-square btn-success">Enable</button></td>
      <td><button type="button" class="btn btn-square btn-danger">Disable</button></td>
     
    </tr>
    <tr>
      <td>Employee Status</td>
      <td>1.0</td>
      <td><button type="button" class="btn btn-square btn-success">Enable</button></td>
      <td><button type="button" class="btn btn-square btn-danger">Disable</button></td>
     
    </tr>
    </table>
  
  </body>
  </html>
  