<html>
    <button  routerLink="/hrpage"  class="btn btn-info btn-lg" href="">
			
      BACK
   </button>
 <h1><b>Recruiting and Onboarding Options</b></h1>
 <p>
  Recruiting and onboarding are integral parts of human resources management, but can be time consuming. HR systems can make it easy to place job postings on social media and company websites, simplify the application process, filter applicants by qualifications, and even transfer information into employee files when hiring decisions have been made.
 </p>
 <div class="text-center">
  <img src="assets/h6.jpg" class="logo">
</div>
</html>