<html>
  <head>
    <title>TRAINING MANAGEMENT</title>
  </head>
  <body>
    <h1><b>TRANING MANAGEMENT</b></h1>
    <button  routerLink="/hrpage" class="btn btn-square btn-warning" href="">
			
      BACK
   </button>
    <button  routerLink="/addtraining" class="btn btn-info btn-lg" href="">
			
      <span class="glyphicon glyphicon-plus"></span> ADD TRAINING
</button><br><br><br><br>
<table>
  <tr>
    <th>USERNAME</th>
    <th>EMPID</th>
    <th>DEPT</th>
  <th>SKILL</th>
  <th>STARTIND DATE</th>
  <th>ENDING DATE</th>
  <th>REASON</th>
  
    </tr>
    <tr>
      <td>Bhavani</td>
      <td>1</td>
      <td>Administration</td>
      <td>RGM</td>
      <td>01-4-2017</td>
      <td>01-5-2017</td>
      <td>Good</td>
      </tr>
      <tr>
        <td>Achu</td>
        <td>2</td>
        <td>Financing</td>
        <td>DFS</td>
        <td>01-3-2018</td>
        <td>01-5-2018</td>
        <td>Good</td>
        </tr>
        <tr>
          <td>Sathi</td>
          <td>3</td>
          <td>Development</td>
          <td>DFS</td>
          <td>01-7-2017</td>
          <td>01-12-2017</td>
          <td>Good</td>
          </tr>
          <tr>
            <td>Ashwini</td>
            <td>4</td>
            <td>Development</td>
            <td>ANGULAR</td>
            <td>01-7-2018</td>
            <td>01-12-2018</td>
            <td>Good</td>
            </tr>
            <tr>
              <td>Bhavya</td>
              <td>5</td>
              <td>Development</td>
              <td>JAVA</td>
              <td>01-3-2017</td>
              <td>01-3-2017</td>
              <td>Good</td>
              </tr>
              <tr>
                <td>Sathiya</td>
                <td>6</td>
                <td>Finanical</td>
                <td>DFS</td>
                <td>01-5-2018</td>
                <td>01-5-2018</td>
                <td>Good</td>
                </tr>
                <tr>
                  <td>Ramya</td>
                  <td>7</td>
                  <td>Development</td>
                  <td>DFS</td>
                  <td>05-7-2016</td>
                  <td>05-12-2016</td>
                  <td>Good</td>
                  </tr>
        </table>
        </body>
        </html>