<html>
    <button  routerLink="/hrpage"  class="btn btn-info btn-lg" href="">
			
      BACK
   </button>
 <h1><b>Benefits Administration</b></h1>
 <p>
  Benefits open enrollment times can be confusing and hectic, but both the confusion and time spent on the process can be cut down by investing in an HR system that offers benefits administration. Systems that include this feature walk employee through enrollment, simplifying steps and explaining aspects of policies that may be unclear. Benefits administration features often make it very simple for employees to make changes to benefits when life changes occur, as well.
 </p>
 <div class="text-center">
  <img src="assets/h5.jpeg" class="logo">
</div>
</html>