<!DOCTYPE html>
<html>
<head>
<title>Assign</title>
</head>
<body>
  
  <h1><b>ADD TRAINING </b></h1>
  <form>
      <label for="">USER NAME:</label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" value="" id="username" name="username"><br><br>&nbsp;&nbsp;
     <label for="">EMP ID:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" value="" id="empid" name="empid"><br><br>
    <label for="dept">DEPT:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select id="dept" name="dept">
  <option value="0">-Select-</option>
  <option value="0">Bsc CS </option>
  <option value="0">BE CS</option>
  <option value="0">BE EEE</option>
  <option value="0">BE ECE</option>
  <option value="0">MCA</option>
  <option value="0">MBA</option>
  <option value="0">MSC CS</option>
  <option value="0">Btech IT</option>
  <option value="0">Bsc IT</option>
  <option value="0">BCA</option>
</select><br><br>

<label for="skills">SKILLS:</label>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select id="skill" name="skill">
    <option value="0">-Select-</option>
    <option value="0">JAVA </option>
  <option value="0">ANGULAR</option>
  <option value="0">PHP</option>
  <option value="0">PYTHON</option>
  <option value="0">ANDROID</option>
  <option value="0">JAVA SCRIPT</option>
  <option value="0">C</option>
  <option value="0">C#</option>
  <option value="0">NETWORK</option>
  <option value="0">C++</option>
</select><br><br>
<label for="">STARTING DATE:</label>
      &nbsp;&nbsp;
    <input type="date" value="" id="" name="date"><br><br>&nbsp;&nbsp;<br>
    <label for="">ENDING DATE:</label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="date" value="" id="" name="date"><br><br>&nbsp;&nbsp;<br>
    <label for="Reason">REASON:</label>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select id="reason" name="reason">
    <option value="0">-Select-</option>
    <option value="0">GOOD </option>
  <option value="0">BAD</option>
  <option value="0">AVERAGE</option>
 </select><br><br>
    <button type="SUMBIT" class="btn btn-primary">SUBMIT</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-primary">CANCEL</button>
</form>
</body>
</html>
