<!DOCTYPE html>
<html>
<head>
  </head>
  <body>
 
  <h2><b>ADD POLICY</b></h2>
  
  <div class="container">
    <form>
    <div  class="row">
      <div  class="col-20">
        <label for="fname">POLICY NAME</label>
      </div>
      <div class="col-15">
        <input type="text" id="" name="" placeholder="Your  Policy Name..">
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-20">
        <label for="lname">POLICY VERSION</label>
      </div>
      <div class="col-15">
        <input type="text" id="" name="" placeholder="Your Policy Version">
      </div>
    </div><br>
    <div class="row">
      <div class="col-20">
        <label for="choose file">CHOOSE FILE</label>
      </div><br>
     <div class="col-20">
     <input type="file" name="datafile" id="file" placeholder="your file">
    </div>
    </div><br><br>
    <div class="row">
      <div class="col-20">
        <label for="submit">SUBMIT</label>
      </div><br>
     <div class="col-20">
     <input type="submit" name=""  (click)="onsubmit()" placeholder="submit">
    </div>
    </div>
    </form>
  </div>
 
  </body>
  </html>
  