<html>
    <button  routerLink="/hrpage"  class="btn btn-info btn-lg" href="">
			
      BACK
   </button>
 <h1><b>Performance Reviews</b></h1>
 <p>
  Paper performance appraisals can be a hassle and are somewhat limited in scope and effectiveness. When performance management is done using an HR system, information regarding performance is collected on a continual basis. Managers can then tap into information directly from the system without having to dig through paperwork, and even fill out appraisal forms directly in the system
 </p>
 <div class="text-center">
  <img src="assets/h4.jpg" class="logo">
</div>
</html>