<html>
    <button  routerLink="/hrpage"  class="btn btn-secondary" href="">
			
 BACK
</button><br><br>
<head>
<title>JOB APPLICATION</title>
</head>
<body>
        <div>
                <h2>APPLICATION FOR EMPLOYMENT - CANDIDATE SHEET<br/>
                    Format No.AFE-V1.0-12-JAN-2018<br/>
                    RRFID/JOB ID-</h2>
                  <p class="alignright"></p>
                  <i class="Desktop/cropped-LOGO-Revised-v3" style="font-size:54px;"></i>
                </div>
                <hr>
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      INFORMATION TO BE FILLED BY THE APPLICATION(ALL FILLEDS ARE MANDATORY)</h1><br/>
                      <table class="a1">
                            <tr>

                                    <th>DATE OF APPLICATION</th>
                                    <th>TIME</th></tr>
                                    
                      
                            <tr>
                                    <td>POSITION APPLIED FOR</td>
                                    <td></td>
                                    </tr>
                                    <tr>
                                    <td>DATE OF BIRTH(DD-MM-YYYY)</td>
                                    <td></td>
                                    </tr>
                                    <tr>
                                    <td>CURRENT LOCATION</td>
                                    <td></td>
                                    </tr>
                                    <tr>
                                    <td>MOBILE NUMBER</td>
                                    <td></td>
                                    </tr>
                                    <tr>
                                    <td>EMAIL ID</td>
                                    <td></td>
                                    </tr>
                                    <tr>
                                    <td>PAN CARD NO</td>
                                    <td></td>
                                    </tr>
                                    <tr>
                                    <td>AADHAR NO.</td>
                                    <td></td>
                                    </tr>
                                    <tr>
                                    <td>DO YOU HAVE A PASSPORT?</td>
                                    <td><input type="checkbox" name="yes">YES<input type="checkbox" name="no">YES TO APPLY<input type="checkbox" name="applied">APPLIED</td>
                                    </tr>
                                    <tr>
                                    <td>ADDRESS FOR COMMUNICATION</td>
                                    <td></td>
                                    </tr>
                      </table><br>
                      <h4><b>EDUCATION DETAILS</b></h4>
                      <table class="a2">
                            <tr>
                                    <th>LEVEL</th>
                                     <th>STREAM</th>
                                      <th>BOARD/UNIVERSITY</th>
                                       <th>YEAR OF PASSING</th>
                                        <th>%MARKS</th>
                                        </tr>
                                        <tr>
                                        <td>SSLC</td>
                                        <td ></td>
                                          <td></td>
                                            <td></td>
                                              <td></td>
                                              </tr>
                                              <tr>
                                        <td>HSC</td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                              <td></td>
                                              </tr>
                                              <tr>
                                        <td>GRADUATION</td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                              <td></td>
                                              </tr>
                                              <tr>
                                        <td>POST GRADUATION</td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                              <td></td>
                                              </tr>
                                              <tr>
                                        <td>OTHERS</td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                              <td></td>
                                              </tr>
                      </table><br>
                      <h4><b>WORK EXPERIENCE</b></h4>
                      <table class="a3">
                            <tr>
                                    <th>ORGANIZATION</th>
                                    <th>FROM<br>(Month&Year)</th>
                                    <th>To<br>(Month&Year)</th>
                                    <th>DESIGNATION<br>(As per records)</th>
                                    <th>ROLE<br>(Last role served)</th>
                                    </tr>
                                    <tr>
                                    <td ></td>
                                      <td ></td>
                                        <td ></td>
                                          <td ></td>
                                            <td ></td>
                                             
                                              </tr>
                                              <tr>
                                    <td></td>
                                      <td></td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                             
                                              </tr>
                                              <tr>
                                    <td></td>
                                      <td></td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                              
                                              </tr>
                                              <tr>
                                    <td></td>
                                      <td></td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                              
                                              </tr>
                                              <tr>
                                    <td></td>
                                      <td></td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                            
                                              </tr>
                                              <tr>
                                    <td></td>
                                      <td></td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                              
                                              </tr>
                                              <tr>
                                    <td></td>
                                      <td></td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                             
                                              </tr>
                      </table><br><br>
                      <table class="a4">
                            <tr>
                                    <th></th>
                                    <th>YRS.MOS.</th>
                                    <th></th>
                                    <th>YRS.MOS.</th>
                                    </tr>
                                    <tr>
                                    <td>TOTAL EXPERIENCE</td>
                                    <td></td>
                                    <td>Development Experience</td>
                                    <td></td>
                                    </tr>
                                    <tr>
                                    <td>IT EXPERIENCE(..........................)</td>
                                    <td></td>
                                    <td>NON-IT EXPERIENCE( .......................)</td>
                                    <td></td>
                      </table><br><br>
                      <h4><b>COMPENSATION DETAILS</b></h4>
                      <table class="a5">
                            <tr>
                                    <th>COMPENSATION</th>
                                    <th>GROSS PAY (MONTHLY)</th>
                                    <th>TAKE HOME(MONTHLY)</th>
                                    <th>CTC(PER.ANNUM)</th>
                                    <th>VARIABLE PAY</th>
                                    </tr>
                                    <tr>
                                    <td>CURRENT/LAST</td>
                                      <td></td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                             </tr>
                                              <tr>
                                    <td>ORGANIZATION</td>
                                      <td></td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                             </tr>
                                             <tr>
                                    <td>EXPECTATION</td>
                                      <td></td>
                                        <td></td>
                                          <td></td>
                                            <td></td>
                                             </tr>
                      </table><br><br>
                      <h4><b>APPLICATION SOURCE DETAILS</b></h4>
                      <table class="a6">
                            <tr>
                                    <th>REFERED BY</th>
                          <th></th>
                          <th>MAVERIC EMP.ID</th>
                          <th></th>
                          </tr>
                          <tr>
                          <td>PLACEMENT SERVICE W/(NAME OF THE PERSON)</td>
                          <td></td>
                          <td>MINIMUM TIME TO JOIN(IN DAYS)</td>
                          <td></td>
                          </tr>
                          <tr>
                          <td colspan="3">IN  THE  PAST  HAVE  YOU  ATTENDED  INTERVIEW  WITH  MAVERIC S YSTEMS?</td>
                          <td><input type="checkbox" name="yes">YES<input type="checkbox" name="no">NO</td> 
                          </tr>
                          <tr>
                          <td colspan="2">IF YES TO THE ABOVE , THEN PLEASE PROVIDE DETAILS</td>
                          <td colspan="2"></td>
                          </tr>
                      </table><br><br>
                      <p> SIGNATURE OF THE APPLICANT<br><hr></p>
                    </body>
                    </html>