<html>
<head>
<title>JOB APPLICATION</title>
</head>
<body>
                <button  routerLink="/hrpage"  class="btn btn-info btn-lg" href="">
			
                        BACK
                     </button>
        <div>
                <h1>New Employee Information Form<br/>
                Format No:HR-NEI-V2.3-12-Jan-2017</h1>
                  <p class="alignright"></p>
                  <i class="Desktop/cropped-LOGO-Revised-v3" style="font-size:54px;"></i>
                </div>
                <hr>
                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       <b> EMPLOYEE INFORMATION ENTRY FORM(TO BE FILLED IN CAPITAL LETTERS ONLY)</b></h1><br/>
                      <div>
                       <p>EMPLOYEE NO:</p>
                      <h6>DATE OF JOINING(DD-MMM-YYYY):</h6>
                    </div>
                    <table class="one">
                        <tr>
                            <th>General Details</th>
                        </tr>
                        <tr>
                            <th>Details to be filled as per passport</th>
                        </tr>
                        <tr>
                            <td>First/Given Name:</td>
                        </tr>
                        <tr>
                            <td>Last/Surname:</td>
                            </tr>
                            <tr>
                                <td >Date OF birth(DD-MMM-YYYY):</td>
                                </tr>
                                <tr>
                                    <td >Age:</td>
                                    </tr>
                                    <tr>
                                    <td >Father's Name:</td>
                                    </tr>
                                    <tr>
                                    <td >Mother Maiden Name:</td>
                                    </tr>
                                  </table><br><br>
                                  <table class="two">
                                    <tr>
                                        <th>PERSONAL DETAILS</th>
                                        </tr>
                                  </table>
                                  <table class="three">
                                        <tr>
                                            <td >Marital Status:&nbsp;Single
                                            <input type="checkbox" name="single" id="single">Married<input type="checkbox" name="Married" id="Married"></td>
                                            <td  rowspan="2">Spouse Name(if Married):</td>
                                            </tr>
                                            <tr>
                                                <td >PAN:</td>
                                                </tr>
                                                <tr>
                                                    <td >UAN(PF NO):</td>
                                                    <td >Gender:Male<input type="radio" name="male">Female<input type="radio" name="female"></td>
                                                    </tr>
                                                    <tr>
                                                        <td >Aadhar Card No:</td>
                                                        <td >Blood Group:</td>
                                                        </tr>
                                  </table><br><br>
                                  <table class="four">

                                       <tr>
                               <th>PASSPORT DETAILS</th>
                                       </tr>
                                  </table>
                                  <table class="five">
                                        <tr>
                                                <td>Passport Number:</td>
                                                <td rowspan="3">ECN Status:Yes<input type="checkbox" name="yes">No<input type="checkbox" name="no"></td>
                                                </tr>
                                                <tr>
                                                        <td >Date of Issue:</td>
                                                        </tr>
                                                        
                                                        <tr>
                                                        <td >Date of Expiry:</td>
                                                        </tr>
                                                 </table><br><br>
                                                 <table class="six">
                                                        <tr>
                                                                <th>EDUCATION DETAILS</th>
                                                                </tr> </table>
                                                                <table class="seven">
                                                                        <tr>
                                                                                <td>Level</td>
                                                                                <td>Institution Name</td> 
                                                                                <td>University/Board Name</td>
                                                                                <td>Course</td>
                                                                                <td>specialization</td>
                                                                                <td>Mode of Education</td>
                                                                                <td>Year of passing</td>
                                                                              </tr>
                                                                              <tr>
                                                                                    <td>10th</td>
                                                                                     <td></td>
                                                                                     <td></td>
                                                                                     <td></td>
                                                                                     <td></td>
                                                                                     <td></td>
                                                                                     <td></td>
                                                                                        
                                                                                      </tr>
                                                                                      <tr>
                                                                                        <td>12th</td>
                                                                                      <td></td>
                                                                                       <td></td>
                                                                                       <td></td>
                                                                                       <td></td>
                                                                                       <td></td>
                                                                                       <td></td>
                                                                                      </tr>
                                                                                      <tr>
                                                                                        <td>UG</td>
                                                                                        <td></td>
                                                                                        <td></td>
                                                                                        <td></td>
                                                                                        <td></td>
                                                                                        <td></td>
                                                                                        <td></td>
                                                                                      </tr>
                                                                                      <tr>
                                                                                        <td>PG</td>
                                                                                        <td></td>
                                                                                        <td></td>
                                                                                        <td></td>
                                                                                        <td></td>
                                                                                        <td></td>
                                                                                        <td></td>
                                                                                      </tr>
                                                                </table><br><br>
                                                                <h6>Gap in Education:Yes(more than 2 Years)<input type="checkbox" name="yes">No<input type="checkbox" name="no"></h6>
<h6>If Yes ,please specify:<hr></h6>
<hr>
                            
<table class="eight">
        <tr>
                <th> PROFESSIONAL DETAILS(Last 5 Organizations)
                </tr>
</table>
<table class="nine">
        <tr>
                <td>Nmae of the organization</td>
                <td>Date of Joining</td>
                <td>Date of Relieving</td>
                <td>Designation</td>
                <td>Total No.of Years</td>
                <td>Last Drawn CT (pa)</td>
                <td>Domain Experience</td>
                </tr>
                <tr>
                <td></td>
                 <td></td>
                  <td></td>
                   <td></td>
                    <td></td>
                     <td></td>
                      <td>Yes<input type="checkbox" name="yes">No<input type="checkbox" name="no"></td>
                      </tr>
                       <tr>
                <td></td>
                 <td></td>
                  <td></td>
                   <td></td>
                    <td></td>
                     <td></td>
                      <td>Yes<input type="checkbox" name="yes">No<input type="checkbox" name="no"></td>
                      </tr>
                       <tr>
                <td></td>
                 <td></td>
                  <td></td>
                   <td></td>
                    <td></td>
                     <td></td>
                      <td>Yes<input type="checkbox" name="yes">No<input type="checkbox" name="no"></td>
                      </tr>
                       <tr>
                <td></td>
                 <td></td>
                  <td></td>
                   <td></td>
                    <td></td>
                     <td></td>
                      <td>Yes<input type="checkbox" name="yes">No<input type="checkbox" name="no"></td>
                      </tr>
                       <tr>
                <td></td>
                 <td></td>
                  <td></td>
                   <td></td>
                    <td></td>
                     <td></td>
                     <td>Yes<input type="checkbox" name="yes">No<input type="checkbox" name="no"></td>
                      </tr>
</table><br>
<div>
        <h5>Gap in Education:Yes(more than 2 Years)<input type="checkbox" name="yes">No<input type="checkbox" name="no"></h5>
        <h5>If Yes ,please specify:<hr></h5>
</div>
<table class="a1">
        <tr>
                <th colspan="2"> CONTACT DETAILS</th>
                </tr>
</table>
<table class="a2">
                <tr>
                  <td>Mobile No:</td>
                  <td>Alternate No:</td>
                </tr>
                <tr>
                <td>Residence No:</td>
                <td>Email id:</td>
                </tr>
                <tr>
                <td>Permanent Address:</td>
                <td>Current Address:Same as Permanent Address<input type="checkbox" name=""></td>
                </tr>
</table><br><br>
<table class="a3">
        <tr>
                <th colspan="2"> EMERGENCY CONTACT DETAILS</th>
                </tr>
                 <tr>
                  <td >Emergency Contact 1</td>
                  <td >Emergency Contact 2</td>
                </tr>
                <tr>
                        <td>Name:</td>
                        <td>Name</td>
                        </tr>
                        <tr>
                        <td>Relationship:</td>
                         <td>Relationship:</td>
                        </tr>
                        <tr>
                        <td>Mobile No:</td>
                          <td>Mobile No:</td>
                        </tr>
                         <tr>
                        <td>Residence No:</td>
                       <td>Residence No:</td>
                        </tr>
                         <tr>
                        <td>Address:</td>
                        <td>Address:Same as Emergency Contact 1 Address<input type="checkbox"></td>
                        </tr>
                        
</table><br><br>
<table class="a4">
        <tr>
                <th> GROUP MEDICAL INSURANCE DETAILS</th>
                </tr>
</table>
<table class="a5">
        <tr>
                <td style="width:200px;">Relationship</td>
                <td style="width:450px;">Name</td>
                <td>DOB</td>
                <td>Age</td>
                <td>Gender</td>
                </tr>
                <tr>
                        <td >Spouse</td>
                         <td></td>
                          <td></td>
                           <td></td>
                           <td style="width: 200px;">Male<input type="checkbox" name="yes">Female<input type="checkbox" name="no">
                           </tr>
                            <tr>
                                    <td >Child 2</td>
                                    <td></td>
                                     <td></td>
                                      <td></td>
                                       <td style="width: 200px;">Male<input type="checkbox" name="yes">Female<input type="checkbox" name="no">
</table><br><br>
<table class="a6">
        <td style="width: 200px;">Father</td>
   <td style="width:450px;"></td>
    <td style="width:190px;"></td>
	 <td></td>
	  <td style="width: 200px;">Male</td>
		<tr>
  <td style="width: 200px;">Mother</td>
   <td></td>
    <td></td>
	 <td></td>
	  <td style="width: 200px;">Female</td>
		</tr>
	
</table><br><br>
    <table class="a7">
            <td style="width: 200px;">Father-in-law</td>
            <td style="width:450px;" ></td>
             <td style="width:190px;"></td>
              <td></td>
               <td style="width: 200px;">Male
                 </td> <tr>
                 <td>Mother-in-law-in-law</td>
            <td></td>
             <td></td>
              <td></td>
               <td style="width: 200px;">Female
                 </td> </tr>
    </table><br>
    <h6 ><b>Please mention the Sum Insured(details mentioned below)</b>:INR 100000<input type="checkbox">INR 300000<input type="checkbox"></h6><br/>
		<h6 ><b>DECLARATION:</b></h6>
		<h6>I hereby declare that the above furnished information is true and best to my knowledge.</h6>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SIGNATURE:</h6>
		<h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DATE:</h6><br>
		
    </body>
</html>