<html>
    <button  routerLink="/hrpage"  class="btn btn-info btn-lg" href="">
			
      BACK
   </button>
 <h1><b>Employee Self-Service</b></h1>
 <p>
  Many companies find employee self-service to be an invaluable feature of HR systems. Employee self-service may allow employees to view and make changes to their information, submit time off requests, communicate with peers and HR professionals, and view schedule information. Self-service portals are often accessible through any mobile device, increasing convenience and timeliness for employees and managers.
 </p>
 <div class="text-center">
  <img src="assets/h3.png" class="logo">
</div>
</html>