<!DOCTYPE html>
<html>
<head>
<title>Assign</title>
</head>
<body>
  
  <h1><b>ADD JOB SPECIFICATION </b></h1>
  <form>
      <label for="">EMP NAME:</label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" value="" id="empname" name="empname"><br><br>&nbsp;&nbsp;
     <label for="">EMP ID:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" value="" id="empid" name="empid"><br><br>
    <label for="qualification">QUALIFICATION:</label>&nbsp;
 <select id="qualification" name="qualification">
  <option value="0">-Select-</option>
  <option value="0">Bsc CS </option>
  <option value="0">BE CS</option>
  <option value="0">BE EEE</option>
  <option value="0">BE ECE</option>
  <option value="0">MCA</option>
  <option value="0">MBA</option>
  <option value="0">MSC CS</option>
  <option value="0">Btech IT</option>
  <option value="0">Bsc IT</option>
  <option value="0">BCA</option>
</select><br><br>
<label for="qualities">QUALITIES:</label>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select id="qualities" name="qualities">
  <option value="0">-Select-</option>
  <option value="0">JAVA </option>
  <option value="0">ANGULAR</option>
  <option value="0">PHP</option>
  <option value="0">PYTHON</option>
  <option value="0">ANDROID</option>
  <option value="0">JAVA SCRIPT</option>
  <option value="0">C</option>
  <option value="0">C#</option>
  <option value="0">NETWORK</option>
  <option value="0">C++</option>
</select><br><br>
<label for="experience">EXPERIENCE:</label>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select id="experience" name="experience">
    <option value="0">-Select-</option>
    <option value="0">1</option>
    <option value="0">2</option>
    <option value="0">3</option>
    <option value="0">4</option>
    <option value="0">5</option>
    <option value="0">6</option>
    <option value="0">7</option>
    <option value="0">8</option>
    <option value="0">9</option>
    <option value="0">10</option>
</select><br><br>
<label for="training">TRAINING:</label>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <select id="training" name="training">
    <option value="0">-Select-</option>
    <option value="0">1 MONTH</option>
    <option value="0">2 MONTHS </option>
    <option value="0">3 MONTHS</option>
    <option value="0">4 MONTHS</option>
    <option value="0">5 MONTHS</option>
    <option value="0">6 MONTHS</option>
    <option value="0">7 MONTHS</option>
    <option value="0">8 MONTHS</option>
    <option value="0">9 MONTHS</option>
    <option value="0">10 MONTHS </option>
</select><br>
<label for="">SKILL:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" value="" id="empid" name="empid"><br><br>
<button type="SUMBIT" class="btn btn-primary">SUBMIT</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-primary">CANCEL</button>
</form>
</body>
</html>
