input[type=text] {
    width:20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid crimson;
    border-radius: 4px;
   } 
   input#start {
      height: 40px;
      width: 250px;
      border-color: crimson;
  }
  select#qualification {
      height: 50px;
      width: 280px;
      border-color:crimson;
  }
  select#qualities {
    height: 50px;
    width: 280px;
    border-color:crimson;
}
select#experience {
    height: 50px;
    width: 280px;
    border-color:crimson;
}
select#training {
    height: 50px;
    width: 280px;
    border-color:crimson;
}
  input#end {
      height: 40px;
      width: 250px;
      border-color: crimson;
  }
  button.btn.btn-primary {
      height: 50px;
      width: 150px;
      background-color:blueviolet;
      color: white;
  }
  form {
      background-color: darkseagreen;
      text-align: center;
  }
  html {
      background-color: darksalmon;
  }
  label {
      font-size: 20px;
      font-family: times new roman;
  }
  h1{
    text-align: center;
  }