<html>
  <head>
    <title>SALARY SLIP</title>
  </head>
  <h1>Maveric System Limited</h1>
  <h2>Anchorage 1, NO,100.1,3rd & 5th Floor</h2> 
  <h3>Richmond Road,Bangalore 560025</h3>
 <h1>Pay Slip for the period of March 2019</h1><br>
  <p>Employeee id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  :10002&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:Jagan</p><br>
  <p>Department&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :Development&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Designation &nbsp;&nbsp;&nbsp;&nbsp;:Developer</p><br>
  <p>PF Account Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :KA/BB/245&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Days worked&nbsp;&nbsp;&nbsp;:23.0</p><br> 
  <p>ESI Account Number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:17 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bank Account&nbsp;&nbsp;&nbsp;:xxxxxxxxxxxx</p><br>
  <table class="one">
    <tr>
    <th>Earnings</th>
    <th>YTD</th>
    <th>Amount</th>
    </tr>
    <tr>
      <td>Basic Pay</td>
      <td>20,000</td>
      <td>10,000</td>
    </tr>
    <tr>
      <td>Medical Allowance</td>
      <td>10,000</td>
      <TD>5,000</TD>
    </tr>
    <tr>
      <td>House Rent Allowance</td>
      <td>12,000</td>
      <td>5,000</td>
    </tr>
    <tr>
      <td>Food Allowance</td>
      <td>15,000</td>
      <td>8,000</td>
    </tr>
    <tr>
      <th>Total Earnings</th>
      <th>45,000</th>
      <th>23,000</th>
    </tr>
  </table>
  <table class="two">
      <tr>
      <th>Earnings</th>
      <th>YTD</th>
      <th>Amount</th>
      </tr>
      <tr>
        <td>Basic Pay</td>
        <td>20,000</td>
        <td>10,000</td>
      </tr>
      <tr>
        <td>Medical Allowance</td>
        <td>10,000</td>
        <TD>5,000</TD>
      </tr>
      <tr>
        <td>House Rent Allowance</td>
        <td>12,000</td>
        <td>5,000</td>
      </tr>
      <tr>
        <td>Food Allowance</td>
        <td>15,000</td>
        <td>8,000</td>
      </tr>
      <tr>
          <th>Total Deductions</th>
          <th>45,000</th>
          <th>23,000</th>
        </tr>
  </table><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <table class="three">
        <tr>
          <th  >Net Pay            21,306</th>
      </tr>
    </table><br><br>

    
    <hr>
    <h5>Employee signature</h5>
    
</html>